<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/admin.xhtml"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head">
        <title>Excerise</title>
    </ui:define>

    <ui:define name="logo-lg">
        Dashboard
    </ui:define>

    <ui:define name="logo-mini">
        Dash
    </ui:define>

    <ui:define name="menu">
        <ul class="sidebar-menu">
            <li>
                <p:link href="/index.xhtml" onclick="clearBreadCrumbs()">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </p:link>
            </li>
	        <li>
	         <p:link href="/configuration.xhtml" onclick="clearBreadCrumbs()">
                    <i class="fa fa-wrench"></i>
                    <span>Configurations</span>
            </p:link>
	        </li>
        </ul>
     </ui:define>

    <ui:define name="top-menu">
        <ui:include src="/includes/top-bar.xhtml"/>
    </ui:define>

      <ui:define name="title">
        <h2 class="align-center">
        </h2>
    </ui:define>

    <ui:define name="description">
	Configuration page
    </ui:define>

    <ui:define name="body">
    
    <h:form id="mainForm">

			<div class="container">

					<h:panelGroup id="jsfWrapperDiv" layout="block" styleClass="row wrapperDivT">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s3"><a class="active"
									href="#test1">Static Configuation</a></li>
								<li class="tab col s3"><a href="#test2">Overriden
										Configuration</a></li>
								<li class="tab col s3 disabled"><a href="#test3">Presentation
										Configuration</a></li>
							</ul>
						</div>
						<div id="test1" class="col s12">
							<p:dataTable
								widgetVar="staticConf"
								id="tableCon"
								value="#{configurationController.allStaticConfigurations}"
								var="staticConf">
								<p:column headerText="Configuration Code">
									<p:outputLabel value="#{staticConf.code}"/>
								</p:column>
								<p:column headerText="Initial Value Code">
									<p:outputLabel value="#{staticConf.initialValue}"/>
								</p:column>
								<p:column headerText="Overriden" width="90"
									style="text-align:center;">
									<i
										class="#{(configurationController.checkIfOverriden(staticConf))?'fa fa-fw fa-check':'fa fa-fw fa-times-circle '}"
										style="#{(configurationController.checkIfOverriden(staticConf))?'color:green; font-size:14px;':'color:red; font-size:14px;'}" />
								</p:column>
								<p:column headerText="Actions" width="70">
									<p:commandLink
										type="button"
										update="@widgetVar(dlg2)"
										style="font-size:14px;"
										actionListener="#{configurationController.prepereForOverride(staticConf)}"
										oncomplete="PF('dlg2').show();">
										<i class="fa fa-fw fa-edit" />
									</p:commandLink>

								</p:column>
							</p:dataTable>
							
						</div>
						<div id="test2" class="col s12">
						<p:dataTable
								id="tableConf"
								widgetVar="conf"
								value="#{configurationController.allConfigurations}"
								var="conf">
								<p:column headerText="Configuration Code">
									<p:outputLabel value="#{conf.code}"/>
								</p:column>
								<p:column headerText="Initial Value Code">
									<p:outputLabel value="#{conf.value}"/>
								</p:column>
								<p:column headerText="Actions" width="70">
									<p:commandLink
										type="button"
										update="@widgetVar(staticConf) @widgetVar(conf)"
										style="font-size:14px;"
										actionListener="#{configurationController.deleteConfiguration(conf)}">
										<i class="fa fa-fw fa-trash-alt"></i>
										<p:confirm header="Confirmation" message="The configuration will be permanently deleted. Are you sure?" icon="ui-icon-alert" />
									</p:commandLink>

								</p:column>
							</p:dataTable>
						
						</div>
						<div id="test3" class="col s12">Test 3</div>
					</h:panelGroup>

		
	<p:dialog id="editModal" header="Configuration Edit" widgetVar="dlg2" modal="true" height="300" width="600" closable="true">
			<h:panelGroup id="valueGroup">
				<p:outputLabel  value="Configuration Code"/>
				<p:inputText  value="#{configurationController.selectedItem.code}" readonly="true"/>
				<br/>
				<p:outputLabel value="Configuration Value"></p:outputLabel>
				<p:inputText value="#{configurationController.selectedItem.value}"/>
				</h:panelGroup>
				<h:panelGroup id="actions" layout="block" style="padding-top: 50px; float:right;">
						<p:commandButton value="Close" oncomplete="PF('dlg2').hide();" />
						<p:commandButton value="Save"
							process="@(#valueGroup :input)"
							action="#{configurationController.saveSelectedItem()}"
							oncomplete="PF('dlg2').hide();" update="@widgetVar(staticConf) @widgetVar(conf)"/>
					</h:panelGroup>
	</p:dialog>
	
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>

			</div>



		</h:form>

    </ui:define>


    <ui:define name="footer">
          <a target="_blank"
           href="https://github.com/adminfaces/">
            Copyright (C) 2017 - AdminFaces
        </a>

        <div class="pull-right hidden-xs" style="color: gray">
            <i>1.0.0</i>
        </div>
    </ui:define>


</ui:composition>
