<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/admin.xhtml"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="head">
        <title>Excerise</title>
    </ui:define>

    <ui:define name="logo-lg">
        Dashboard
    </ui:define>

    <ui:define name="logo-mini">
        Dash
    </ui:define>

    <ui:define name="menu">
        <ul class="sidebar-menu">
            <li>
                <p:link href="/index.xhtml" onclick="clearBreadCrumbs()">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </p:link>
            </li>
	        <li>
	         <p:link href="/configuration.xhtml" onclick="clearBreadCrumbs()">
                    <i class="fa fa-wrench"></i>
                    <span>Configurations</span>
            </p:link>
	        </li>
        </ul>
     </ui:define>

    <ui:define name="top-menu">
        <ui:include src="/includes/top-bar.xhtml"/>
    </ui:define>

      <ui:define name="title">
        <h2 class="align-center">
            <br/>
            <small> Welcome to the Project! </small>
        </h2>
    </ui:define>

    <ui:define name="description">

    </ui:define>

    <ui:define name="body">
    
    <h:form>
        <div class="row">
	      <div class="section">
	 		<p:commandButton styleClass="waves-effect waves-light btn" actionListener="#{mainController.handleFile()}" value="Manual File Loading..."/>

	 		<p:commandButton styleClass="waves-effect waves-light btn" actionListener="#{mainController.checkRequestModule()}" value="Call Mock Service.."/>
	      </div>
       </div>
    
   <div class="row">
	<div class="section">
   
  
      <h:panelGroup id="panelTimers" layout="block" >
        <div class="col s6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title center-align">Timers Info</span>
              <p:dataList value="#{mainController.timerInfo}" styleClass="card-content white-text" var="i">
              	<p>#{i}</p>
              </p:dataList>
            </div>
            <div class="card-action">
              <p:commandLink value="Refresh" type="button" actionListener="#{mainController.refreshTimerInfo()}" ajax="true" update="panelTimers"></p:commandLink>
            </div>
          </div>
        </div>
      </h:panelGroup>
            
   
        <h:panelGroup id="failedItems" layout="block" >
        <div class="col s6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title center-align">Failed To Process Transaction </span>
               <p:dataTable id="failedTbl" value="#{mainController.allFailed}"
                var="item"  paginatorTemplate="{PageLinks}">
		        	<p:column headerText="id">
		        		<h:outputLabel value="#{item.id}" />
		        	</p:column>
		        	<p:column headerText="file name">
		        		<h:outputLabel value="#{item.fileName}" style="font-size:12px !important;"/>
		        	</p:column>
		        	<p:column headerText="Received Line">
		        		<h:outputLabel value="#{item.transactionLine}" style="font-size:12px !important;"/>
		        	</p:column>
		        	<p:column headerText="Error Message">
		        		<h:outputLabel value="#{item.errorMessage}" style="font-size:12px !important;"/>
		        	</p:column>
        	</p:dataTable>
            </div>
            <div class="card-action">
              <p:commandLink value="Refresh" type="button" actionListener="#{mainController.rehreshFailed()}" ajax="true" update="failedTbl"></p:commandLink>
            </div>
          </div>
        </div>
      </h:panelGroup>
      
      </div>
      </div>
        
    </h:form>
   
    </ui:define>


    <ui:define name="footer">
          <a target="_blank" style="color: gray">
           Stamatis Mandalakas
        </a>

    </ui:define>


</ui:composition>
